# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Python
.eggs
__pycache__
.pytest_cache
Storytime.egg-info

# macOS
.DS_Store

# Project
.env
