bcrypt==3.1.4
boto3==1.7.28
Flask==1.0.2
Flask-Cors==3.0.4
flask-login==0.4.1
Flask-SQLAlchemy==2.3.2
Flask-SSLify==0.1.5
html5lib==1.0.1
jieba==0.39
mysqlclient==1.3.12
numpy==1.14.3
pynliner==0.8.0
pypinyin==0.30.1
pytest==3.6.0
raven[flask]==6.8.0
requests==2.18.4
validators==0.12.1
zxcvbn-python==4.4.24
