* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

table {
  display: block;
  margin: 0 auto;
  width: 600px;
}

tbody, tr, td {
  width: 600px;
}

#logo {
  height: 128px;
}

#logo img {
  display: block;
  height: 48px;
  margin: 0 auto;
}

#content {
  background: #fff;
  border-radius: 16px;
  box-sizing: border-box;
  display: block;
  padding: 32px 36px;
}

#blank {
  height: 64px;
}

p {
  margin-top: 16px;
  font-size: 16px;
  line-height: 22px;
}

a {
  background: #6c5ce7;
  color: #fff;
  display: table;
  padding: 16px 20px;
  margin-top: 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}
